* {
  font-family: "Patrick Hand", cursive;
  --purple: #a565e0;
  --charcoal: #39373b;
  --mint: #46f2db;
  --light: #f8f9fa;
  --pink: #f5bff5;
  --yellow: #f5f3bf;
}

body {
  line-height: 1.5;
  font-size: 1.5rem;
  background-image: "";
  background-size: 100%;
  background-attachment: fixed;
}

nav {
  margin-right: 0% !important;
}

/* This is my navbar */
.nav-link,
.navbar-brand {
  font-size: 20px;
  color:var(--purple);
}

.headshot {
  width: 60%;
  height: 90%;
  border-radius: 50px;
}

/* jumbotron styling */
.jumbotron {
  min-height: 100vh;
}

.j-content {
  margin-top: 20%;
}

.opacity {
  opacity: 0.5;
}

/* This is my main section */
h2 {
  color: #a565e0;
}

.flow-text {
  color: #a565e0;
}

.border-top {
  border-width: 4px !important;
}

/* Changes carousel indicator color */
.carousel-indicators {
  filter: invert(100%);
}

.carousel-control-prev-icon {
  filter: invert(100%);
}

.carousel-control-next {
  filter: invert(100%);
}

.carousel-caption {
  background-color: rgba(233, 233, 233, 0.863);
  color: rgb(19, 19, 19);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 992px) {
  .headshot {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .headshot {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-caption {
    font-size: 1rem;
  }

  .my-section {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 394px) {
  .carousel-caption {
    font-size: 0.8rem;
  }

  .headshot {
    margin-left: 15%;
  }
}
